﻿@model BookStoreWebApp.Areas.Admin.Models.RoleModel

@{
    ViewBag.Title = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Add Role</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.TextBoxFor(Model => Model.RoleName)
                    <input type="submit" class="btn btn-success" />
                }

            </div>
        </div>
    </div>
</div>