﻿<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Bookstore - everything you need</title>
    <meta name="description" content="All Kind of Books">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/revslider.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png"  href="~/Content/images/icons/icon.png">
    <link rel="apple-touch-icon" sizes="57x57"  href="~/Content/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72"  href="~/Content/images/icons/apple-icon-72x72.png">

    <!--- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/jquery-1.11.1.min.js"><\/script>')</script>

    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    <style id="custom-style">
    </style>
</head>
<body>
    <div id="wrapper">
        <header id="header" class="header6">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-right">

                                <div class="header-top-dropdowns pull-right">
                                    <div class="btn-group dropdown-language">
                                        <ul class="list-inline" role="menu">
                                            <a href="@Url.Action("Index","Home", new { lang="tr"})"><span class="flag-container"><img src="~/Content/images/turkey-flag.png" alt="flag of france"></span><span class="hide-for-xs">TR</span></a>
                                            <a href="@Url.Action("Index","Home", new { lang="en"})"><span class="sm-separator"><img src="~/Content/images/england-flag1.png" alt="flag of germany"></span><span class="hide-for-xs">En</span></a>
                                        </ul>
                                    </div><!-- End .btn-group -->
                                </div><!-- End .header-top-dropdowns -->

                                <div class="header-text-container pull-right">
                                    @Html.Partial("_LoginPartial")
                                    @*<p class="header-link"><a href="#">login</a>&nbsp;or&nbsp;<a href="#">create an account</a></p>*@
                                </div><!-- End .pull-right -->
                            </div><!-- End .header-top-right -->
                        </div><!-- End .col-md-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #header-top -->

            <div id="inner-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 logo-container">
                            <h1 class="logo clearfix">
                                @*<span>Responsive eCommerce Template</span>*@
                                <a href="@Url.Action("Index","Home")" title="Bookstore"><img src="~/Content/images/books.png" alt="Venedor Commerce Template" width="190" height="80"></a>
                            </h1>
                        </div><!-- End .col-md-3 -->
                        <div class="col-md-9 col-sm-9 col-xs-12 header-inner-right">
                            <div class="header-inner-right-wrapper clearfix">

                                <div class="dropdown-cart-menu-container pull-right">
                                    <div class="btn-group dropdown-cart">
                                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" onclick="location.href='@Url.Action("CartAction", "Shop")'">
                                            <span class="cart-menu-icon"></span>
                                            0 item(s) <span class="drop-price"></span>
                                        </button>

                                        @*<div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
                                            <p class="dropdown-cart-description">Recently added item(s).</p>
                                            <ul class="dropdown-cart-product-list">
                                                <li class="item clearfix">
                                                    <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                                                    <figure>
                                                        <a href="product.html"><img src="~/Content/images/products/thumbnails/item12.jpg" alt="phone 4"></a>
                                                    </figure>
                                                    <div class="dropdown-cart-details">
                                                        <p class="item-name">
                                                            <a href="product.html">Cam Optia AF Webcam </a>
                                                        </p>
                                                        <p>
                                                            1x
                                                            <span class="item-price">$499</span>
                                                        </p>
                                                    </div><!-- End .dropdown-cart-details -->
                                                </li>
                                                <li class="item clearfix">
                                                    <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a>
                                                    <figure>
                                                        <a href="product.html"><img src="~/Content/images/products/thumbnails/item13.jpg" alt="phone 2"></a>
                                                    </figure>
                                                    <div class="dropdown-cart-details">
                                                        <p class="item-name">
                                                            <a href="product.html">Iphone Case Cover Original</a>
                                                        </p>
                                                        <p>
                                                            1x
                                                            <span class="item-price">$499<span class="sub-price">.99</span></span>
                                                        </p>
                                                    </div><!-- End .dropdown-cart-details -->
                                                </li>
                                            </ul>

                                            <ul class="dropdown-cart-total">
                                                <li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>
                                                <li><span class="dropdown-cart-total-title">Total:</span>$1005<span class="sub-price">.99</span></li>
                                            </ul><!-- .dropdown-cart-total -->
                                            <div class="dropdown-cart-action">
                                                <p><a href="cart.html" class="btn btn-custom-2 btn-block">Cart</a></p>
                                                <p><a href="checkout.html" class="btn btn-custom btn-block">Checkout</a></p>
                                            </div><!-- End .dropdown-cart-action -->

                                        </div>*@<!-- End .dropdown-cart -->
                                    </div><!-- End .btn-group -->
                                </div><!-- End .dropdown-cart-menu-container -->

                                <div id="quick-access">
                                    <form class="form-inline quick-search-form" role="form" action="#">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="searchString" placeholder="@Resources.Home.searchhere">
                                        </div><!-- End .form-inline -->
                                        <button type="submit" id="quick-search" class="btn btn-custom"  onclick="location.href='@Url.Action("Index","Shop")'"></button>
                                    </form>
                                </div><!-- End #quick-access -->
                            </div><!-- End .header-inner-right-wrapper -->
                        </div><!-- End .col-md-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div id="main-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 clearfix">

                                <nav id="main-nav" class="col-md-8 col-lg-8 col-xs-8">
                                    <div id="responsive-nav">
                                        <div id="responsive-nav-button">
                                            Menu <span id="responsive-nav-button-icon"></span>
                                        </div><!-- responsive-nav-button -->
                                    </div>
                                    <div class="menu-table">
                                        <ul class="menu clearfix">
                                            <li>
                                                <a class="active" href="@Url.Action("Index","Home")">@Resources.Home.home</a>
                                            </li>
                                            <li class="mega-menu-container">
                                                <a href="@Url.Action("Index","Shop")">@Resources.Home.shop</a>
                                            </li>
                                            <li><a href="@Url.Action("Contact","Home")">@Resources.Home.contact</a></li>
                                            <li><a href="@Url.Action("About","Home")">@Resources.Home.about</a></li>
                                        </ul>
                                    </div>

                                </nav>

                            </div><!-- End .col-md-12 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->

                </div><!-- End #nav -->
            </div><!-- End #inner-header -->
        </header><!-- End #header -->

        <section id="content">

            @RenderBody()

        </section><!-- End #content -->

        <footer id="footer">
            <div id="newsletter-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <h3>@Resources.Home.singup</h3>
                            <form id="register-newsletter">
                                <input type="text" name="newsletter" required="" placeholder="Enter your email address">
                                <input type="submit" class="btn btn-custom-3" value="@Resources.Home.singup">
                            </form>
                        </div><!--End  .col-md-6 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #newsletter-container -->

            <div id="inner-footer">

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>@Resources.Home.myaccount</h3>
                            <ul class="links">
                                <li><a href="#">@Resources.Home.myaccount</a></li>
                                <li><a href="#">@Resources.Home.personal</a></li>
                                <li><a href="#">@Resources.Home.address</a></li>
                                <li><a href="#">@Resources.Home.discount</a></li>
                            </ul>
                        </div><!-- End .widget -->

                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>@Resources.Home.İnformation</h3>
                            <ul class="links">
                                <li><a href="#">@Resources.Home.newproducts</a></li>
                                <li><a href="#">@Resources.Home.singup</a></li>
                            </ul>
                        </div><!-- End .widget -->
                        <div class="clearfix visible-sm"></div>
                    </div><!-- End .row -->
                </div><!-- End .container -->

            </div><!-- End #inner-footer -->

            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                            <ul class="social-links clearfix">
                                <li><a href="https://www.facebook.com/MTMFOREVER1" target="_blank" class="social-icon icon-facebook"></a></li>
                                <li><a href="https://twitter.com/moutasemmohamma" target="_blank" class="social-icon icon-twitter"></a></li>
                                <li><a href="#" target="_blank" class="social-icon icon-rss"></a></li>
                                <li><a href="https://tr.linkedin.com/in/moutasem-mohammad-71017398" target="_blank" class="social-icon icon-linkedin"></a></li>
                            </ul>
                        </div><!-- End .col-md-7 -->

                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>&copy; @DateTime.Now.Year Powered by Company BookStore&trade;. All Rights Reserved.</p>
                        </div><!-- End .col-md-5 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-bottom -->

        </footer><!-- End #footer -->

    </div><!-- End #wrapper -->
    <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("maps",required: false)
    @RenderSection("styles", required: false)
    <!-- END -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/jquery.debouncedresize.js"></script>
    <script src="~/Scripts/retina.min.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/jquery.hoverIntent.min.js"></script>
    <script src="~/Scripts/twitter/jquery.tweet.min.js"></script>
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jflickrfeed.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/custom-javascripts.js"></script>
</body>
</html>
