﻿@model BookStoreWebApp.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <h3>@Model.Title</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-book user-profile-icon"></i> @Model.Category.CategoryName
                        </li>
                        <li>
                            <i class="fa fa-male user-profile-icon"></i> @Model.Author.FirstName
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-calendar user-profile-icon"></i> @Model.DateOfPublish
                        </li>
                    </ul>
    
                    <br />
                    <!-- start skills -->
                    <h4>Statistics</h4>
                    <ul class="list-unstyled user_data">
                        <li>
                            <p>Book Rating!</p>
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@Model.Rating"></div>
                            </div>
                        </li>
                        <li>
                            <p>Available in stock</p>
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@Model.Stock"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- end of skills -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="profile_title">
                        <div class="col-md-6">
                            <h2>Gallary</h2>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                            <img src="~/Content/images/books/placeholder.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash-o"></i> Delete
            </button>
            @*<input type="submit" value="Delete" class="btn btn-danger"/><i class="fa fa-edit m-right-xs"></i>*@
            @*<a href="@Url." class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>*@
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
