﻿@model IEnumerable<BookStoreWebApp.Book>
@helper Truncate(string
input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
 
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>All Books</h3>
        </div>
      </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @Html.ActionLink(@Resources.Home.createnew, "Create",null, new {@class= "btn btn-round btn-success" })
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 15%">@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
                                <th>@Html.DisplayNameFor(model => model.Author.FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>@Html.DisplayNameFor(model => model.DateOfPublish)</th>
                                <th >Stock</th>
                                <th style="width: 20%">#Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>#</td>
                                    <td>
                                        @Truncate(item.Title, 15)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Truncate(item.Description, 15)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfPublish)
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="@item.Stock"></div>
                                        </div>
                                        <small>@item.Stock items left</small>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","BookAdmin", new { id=item.ID})" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> @Resources.Home.edit </a>
                                        <a href="@Url.Action("Delete","BookAdmin", new { id=item.ID})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> @Resources.Home.delete </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>
