﻿@{
    ViewBag.Title = "About";
}

<div id="page-header">
    <h1>
        @Resources.Home.about
        <span class="small-bottom-border big"></span><!-- small-bottom-border -->
    </h1>
    <div class="md-margin"></div><!-- space -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="page-header-desc"><p>
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div> <!-- End .container -->
</div><!-- End #page-header -->

<div class="md-margin2x"></div><!-- space -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <header class="content-title">
                        <h2 class="title">@Resources.Home.Whoweare</h2>
                        <div class="xss-margin"></div><!-- space -->
                    </header>
                   <p>@Resources.Home.whotext</p>
                    <div class="visible-xs md-margin"></div>
                </div><!-- End .col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <header class="content-title">
                        <h2 class="title">@Resources.Home.skill</h2>
                        <div class="xss-margin"></div><!-- space -->
                    </header>

                    <div class="progress-container">
                        <h4>Asp.net MVC</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" data-width="85">
                                <span class="progress-text">85%</span>
                            </div><!-- End .progress-bar -->
                        </div><!-- End .progress -->
                    </div><!-- End .progress-container -->

                    <div class="progress-container">
                        <h4>photoshop</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" data-width="73">
                                <span class="progress-text">73%</span>
                            </div><!-- End .progress-bar -->
                        </div><!-- End .progress -->
                    </div><!-- End .progress-container -->

                    <div class="progress-container">
                        <h4>Html/css</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" data-width="92">
                                <span class="progress-text">92%</span>
                            </div><!-- End .progress-bar -->
                        </div><!-- End .progress -->
                    </div><!-- End .progress-container -->

                    <div class="progress-container">
                        <h4>Illustrator</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" data-width="69">
                                <span class="progress-text">69%</span>
                            </div><!-- End .progress-bar -->
                        </div><!-- End .progress -->
                    </div><!-- End .progress-container -->

                    <div class="progress-container">
                        <h4>Programming</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-custom progress-animate" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" data-width="87">
                                <span class="progress-text">87%</span>
                            </div><!-- End .progress-bar -->
                        </div><!-- End .progress -->
                    </div><!-- End .progress-container -->

                </div><!-- End .col-md-6 -->
            </div><!-- End.row -->

            <div class="xlg-margin2x"></div><!-- space -->
        </div><!-- End .col-md-12 -->
    </div><!-- End.row -->
</div><!-- End .container -->
<div class="xs-margin"></div>
