﻿@{
    ViewBag.Title = "Contact";
}
<div id="breadcrumb-container">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">@Resources.Home.home</a></li>
            <li class="active">@Resources.Home.contact</li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="content-title">
                <h1 class="title">@Resources.Home.contact</h1>
                <p class="title-desc">@Resources.Home.hearfromyou</p>
            </header>
            <div class="xs-margin"></div><!-- space -->
            <div class="row">

                <div class="col-md-12">
                    <div id="map">
                        <!-- Google - Map - Api -->
                    </div><!-- End #map -->
                </div><!-- End .col-md-12 -->

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h2 class="sub-title">@Resources.Home.comment</h2>
                    <div class="row">
                        <form action="#" id="contact-form">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">@Resources.Home.name&#42;</span></span>
                                    <input type="text" name="contact-name" id="contact-name" required class="form-control input-lg" placeholder="Your Name">
                                </div><!-- End .input-group -->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">@Resources.Home.email&#42;</span></span>
                                    <input type="email" name="contact-email" id="contact-email" required class="form-control input-lg" placeholder="Your Email">
                                </div><!-- End .input-group -->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">@Resources.Home.Subject&#42;</span></span>
                                    <input type="text" name="contact-subject" id="contact-subject" required class="form-control input-lg" placeholder="Subject">
                                </div><!-- End .input-group -->
                     
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group textarea-container">
                                    <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Your Comment</span></span>
                                    <textarea name="contact-message" id="contact-message" class="form-control" cols="30" rows="6" placeholder="Your Message"></textarea>
                                </div><!-- End .input-group -->
                                <input type="submit" value="SUBMIT" class="btn btn-custom-2 md-margin">
                            </div><!-- End .col-md-6 -->
                        </form>
                    </div><!-- End .row -->

                </div><!-- End .col-md-8 -->
            </div><!-- End .row -->

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->

@section maps{<<script type="text/javascript">

    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 40.746234, lng: 30.349445 },
        zoom: 16
      });
    }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9QvNTJbud3lVTmzdTzHtj875IPNh_Ltw&callback=initMap">
    </script>}