﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row slider-position">
                <div class="md-margin"></div><!-- space -->

                <div class="col-md-3 col-sm-4 col-xs-12 sidebar">

                    @{ Html.RenderAction("Related", "Shop");}

                    @*@{ Html.RenderAction("Related","Shop");}*@

                </div><!-- End .col-md-3 -->

                <div class="col-md-9 col-sm-8 col-xs-12 main-content ">
                    <div id="slider-rev-container">
                        <div id="slider-rev">
                            <ul>
                                <li data-transition="random" data-saveperformance="on" data-title="Easy to Customize">
                                    <img src="~/Content/images/revslider/dummy.png" alt="slidebg1" data-lazyload="/Content/images/homeslider/slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption rev-title lft ltt" data-x="530" data-y="140" data-speed="1100" data-start="300" data-endspeed="350">
                                        Enjoy Wide  Book <br>Posibilities
                                    </div>
                                    <div class="tp-caption lfr ltr" data-x="530" data-y="250" data-speed="1500" data-start="450" data-endspeed="100" data-easing="Power3.easeIn">
                                        <img src="~/Content/images/homeslider/bullet.png" alt="bullet">
                                    </div>
                                    <div class="tp-caption rev-list lfr ltr" data-x="575" data-y="246" data-speed="1500" data-start="550"
                                         data-easing="Power3.easeIn" data-endspeed="150">
                                       Cheapest Books
                                    </div>

                                    <div class="tp-caption lfr ltr" data-x="530" data-y="290" data-speed="1500" data-start="650" data-endspeed="180" data-easing="Power3.easeIn">
                                        <img src="~/Content/images/homeslider/bullet.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list lfr ltr" data-x="575" data-y="286" data-speed="1500" data-start="800"
                                         data-easing="Power3.easeIn" data-endspeed="230">
                                        Best in the market
                                    </div>

                                    <div class="tp-caption lfr ltr" data-x="530" data-y="330" data-speed="1500" data-start="950" data-endspeed="260" data-easing="Power3.easeIn">
                                        <img src="~/Content/images/homeslider/bullet.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list lfr ltr" data-x="575" data-y="326" data-speed="1500" data-start="1100"
                                         data-easing="Power3.easeIn" data-endspeed="290">
                                        Variaty of subjects
                                    </div>
                                </li>

                                <li data-transition="random" data-saveperformance="on" data-title="Powerful Template">

                                    <img src="~/Content/images/revslider/dummy.png" alt="slidebg3" data-lazyload="/Content/images/homeslider/slide3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                                    <div class="tp-caption rev-title lfl ltl" data-x="40" data-y="140" data-speed="800" data-start="300" data-endspeed="350">
                                        BookStore <br>Every thing you need
                                    </div>

                                    <div class="tp-caption sfr stl" data-x="40" data-y="240" data-speed="1000" data-start="500" data-endspeed="100">
                                        <img src="~/Content/images/homeslider/bullet-reverse.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list sfr stl" data-x="85" data-y="236" data-speed="1000" data-start="650"
                                         data-endspeed="150">
                                        Science
                                    </div>

                                    <div class="tp-caption sfr stl" data-x="40" data-y="282" data-speed="1000" data-start="750" data-endspeed="180">
                                        <img src="~/Content/images/homeslider/bullet-reverse.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list sfr stl" data-x="85" data-y="278" data-speed="1000" data-start="900"
                                         data-endspeed="230">
                                        Physics
                                    </div>

                                    <div class="tp-caption sfr stl" data-x="40" data-y="324" data-speed="1000" data-start="1000" data-endspeed="260">
                                        <img src="~/Content/images/homeslider/bullet-reverse.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list sfr stl" data-x="85" data-y="320" data-speed="1000" data-start="1150"
                                         data-endspeed="290">
                                        Computer
                                    </div>

                                    <div class="tp-caption sfr stl" data-x="40" data-y="366" data-speed="1000" data-start="1250" data-endspeed="320">
                                        <img src="~/Content/images/homeslider/bullet-reverse.png" alt="bullet">
                                    </div>

                                    <div class="tp-caption rev-list sfr stl" data-x="85" data-y="362" data-speed="1000" data-start="1400"
                                         data-endspeed="350">
                                        &amp;Other
                                    </div>
                                </li>

                            </ul>
                        </div><!-- End #slider-rev -->
                    </div><!-- End #slider-rev-container -->

                    <div class="lg-margin"></div><!-- Space -->
                    <div class="lg-margin"></div><!-- Space -->
                    <div class="lg-margin"></div><!-- Space -->

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <header class="content-title">
                                <h2 class="title">@Resources.Home.Whoweare</h2>
                            </header>
                            <div class="xs-margin"></div><!-- Space -->
                            <p>@Resources.Home.whotext</p>
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="sm-margin visible-xs"></div><!-- space -->
                            <img src="~/Content/images/team1.jpg" alt="Our Team" class="img-responsive">
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                    <div class="xlg-margin"></div><!-- Space -->

                    <div class="md-margin2x"></div><!-- Space -->
                </div><!-- End .col-md-9 -->

            </div><!-- End .row -->

        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->