﻿@model BookStoreWebApp.Book

@{
    ViewBag.Title = "Details";
}

<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Product</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">

                    <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">

                        <div id="product-image-container">
                            <figure>
                                <img src="@Model.PhotoUrl" data-zoom-image="@Model.PhotoUrl" alt="Product Big image" id="product-image">
                                <figcaption class="item-price-container">
                                    <span class="item-price">@Model.Price &#8378;</span>
                                </figcaption>
                            </figure>
                        </div><!-- product-image-container -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6 col-sm-12 col-xs-12 product">
                        <div class="lg-margin visible-sm visible-xs"></div><!-- Space -->
                        <h1 class="product-name">@Model.Title</h1>
                        <div class="ratings-container">
                            <div class="ratings separator">
                                <div class="ratings-result" data-result="@Model.Rating"></div>
                            </div><!-- End .ratings -->
                        </div><!-- End .rating-container -->
                        <ul class="product-list">
                            @if (Model.Stock == 0)
                            {
                            <li><span>Availability:</span>out of Stock</li>
                            }
                            else
                            {
                                <li><span>Availability:</span>@Model.Stock in Stock</li>
                            }
                            <li><span>Category:</span>@Model.Category.CategoryName</li>
                        </ul>
                        <hr>
                        <div class="product-add clearfix">
                            <div class="item-action">
                                <a href="@Url.Action("CartAction","Shop")" class="item-add-btn">
                                    <span class="icon-cart-text">Add to Cart</span>
                                </a>
                                <a href="@Url.Action("CartAction","Shop")" class="icon-button icon-compare" title="Cheak out">Checkout</a>
                               
                            </div><!-- End .item-action -->
                        </div><!-- .product-add -->
                        <div class="md-margin"></div><!-- Space -->
                        <div class="product-extra clearfix">
                        
                            <div class="md-margin visible-xs"></div>
                            <div class="share-button-group">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b2197865ea0183"></script>
                                <!-- AddThis Button END -->
                            </div><!-- End .share-button-group -->
                        </div>
                    </div><!-- End .col-md-6 -->


                </div><!-- End .row -->

                <div class="lg-margin2x"></div><!-- End .space -->

                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">

                        <div class="tab-container left product-detail-tab clearfix">
                            <ul class="nav-tabs">
                                <li class="active"><a href="#overview" data-toggle="tab">Description</a></li>
                            </ul>
                            <div class="tab-content clearfix">

                                <div class="tab-pane active" id="overview">
                                    <p>@Model.Description</p>
                                </div><!-- End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .tab-container -->
                        <div class="lg-margin visible-xs"></div>
                    </div><!-- End .col-md-9 -->
                    <div class="lg-margin2x visible-sm visible-xs"></div><!-- Space -->
                    <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
                    @{Html.RenderAction("Related", "Shop", Model.Category.CategoryName);}
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->
                <div class="lg-margin2x"></div><!-- Space -->

            </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
    </div><!-- End .container -->

</section><!-- End #content -->

