﻿@model PagedList.IPagedList<BookStoreWebApp.Book>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Books";
}
@{ 
    var list = Model.GroupBy(x => x.Category.CategoryName);
}
<div id="category-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">@Resources.Home.home</a></li>
            <li class="active">@Resources.Home.contact</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="row">

                <div class="col-md-9 col-sm-8 col-xs-12 main-content">

                    <div class="category-toolbar clearfix">
                        <div class="toolbox-filter clearfix">

                            <div class="sort-box">
                                <span class="separator">sort by:</span>
                                <div class="btn-group select-dropdown">
                                    <button type="button" class="btn select-btn">Position</button>
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="@Url.Action("Index", "Shop", new { sortOrder = ViewBag.NameSortParm })">Name</a></li>
                                        <li><a href="@Url.Action("Index", "Shop", new { sortOrder = ViewBag.DateSortParm })">Date</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div><!-- End .toolbox-filter -->
    
                    </div><!-- End .category-toolbar -->
                    <div class="md-margin"></div><!-- .space -->
                    <div class="category-item-container category-list-container">
                            @foreach (var book in Model)
                            {
                                <div class="item item-list clearfix">
                                    <div class="item-image-container">
                                        <figure>
                                            <a href="@Url.Action("Details","Shop", new { id=book.ID})">
                                                @if (book.PhotoUrl != null) { 
                                                <img src="@book.PhotoUrl" alt="item1" class="item-image">
                                                }
                                                else { 
                                                <img src="~/Content/images/books/placeholder.jpg" alt="item1" class="item-image">
                                                }
                                                @if (book.PhotoUrlHover != null) { 
                                                <img src="@book.PhotoUrlHover" alt="item1  Hover" class="item-image-hover">
                                                }
                                                else { 
                                                <img src="~/Content/images/books/placeholder-hover.jpg" alt="item1  Hover" class="item-image-hover">
                                                }
                                            </a>
                                        </figure>
                                        <div class="item-price-container">
                                            <span class="item-price">@book.Price &#8378;</span>
                                        </div>
                                    </div><!-- End .item-image -->
                                    <div class="item-meta-container">
                                        <h3 class="item-name"><a href="@Url.Action("Details","Shop", new { id=book.ID})">@book.Title </a></h3>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-result" data-result="@book.Rating"></div>
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <p>@book.Description</p>
                                        <div class="item-action">
                                            <a href="@Url.Action("CartAction","Shop")" class="item-add-btn">
                                                <span class="icon-cart-text">Add to Cart</span>
                                            </a>
                                            <div class="item-action-inner">
                                                <a href="@Url.Action("CartAction","Shop")" class="icon-button icon-compare" title="Cheak out">Checkout</a>
                                            </div><!-- End .item-action-inner -->
                                        </div><!-- End .item-action -->
                                    </div><!-- End .item-meta-container -->
                                </div><!-- End .item -->
                        }
                    </div><!-- End .category-item-container -->
                    <div class="pagination-container">
                        <div class="pull-right">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div><!-- End .pull-right -->
                    </div><!-- End pagination-container -->
                </div><!-- End .col-md-9 -->

                <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                    <div class="widget">
                        <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Category</span></div><!-- End .accordion-title -->
                                    <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-1"></a>
                                </div><!-- End .accordion-header -->

                                <div id="category-list-1" class="collapse in">
                                    <div class="panel-body">
                                        <ul class="category-filter-list jscrollpane">
                                            @foreach (var item in list)
                                            {
                                               <li><a href="@Url.Action("Index","Shop",new { searchString=item.Key })">@item.Key (@item.Count())</a></li>  
                                            }
                                            <li><a href="@Url.Action("Index","Shop",new { })">Empty filtering</a></li>
                                        </ul>
                                    </div><!-- End .panel-body -->
                                </div><!-- #collapse -->
                            </div><!-- End .panel -->
                        </div><!-- .panel-group -->
                    </div><!-- End .widget -->

                </aside><!-- End .col-md-3 -->
            </div><!-- End .row -->


        </div><!-- End .col-md-12 -->
    </div><!-- End .row -->
</div><!-- End .container -->


@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    }