﻿@model IEnumerable<BookStoreWebApp.Book>

@{
    Layout = null;
}

<div class="widget related">
    <h3>Related</h3>

    <div class="related-slider flexslider sidebarslider">
        <ul class="related-list clearfix">
           @foreach (var item in Model)
           {
            <li>
                <div class="related-product clearfix">
                    <figure>
                        @if (item.PhotoUrl != null) { 
                        <img src="@item.PhotoUrl" alt="book">
                        }
                        else
                        {
                            <img src="~/Content/images/books/placeholder.jpg" alt="book">
                        }
                        <span class="new-rect">New</span>
                    </figure>
                    <h5><a href="#">@item.Title</a></h5>
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-result" data-result="84"></div>
                        </div><!-- End .ratings -->
                    </div><!-- End .rating-container -->
                    <div class="related-price">@item.Price &#8378;</div><!-- End .related-price -->
                </div><!-- End .related-product -->
            </li>
           }
        </ul>
    </div><!-- End .related-slider -->
</div><!-- End .widget -->